@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header, .footer{
    background-color: #1f2937;
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 8px 80px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-text-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

a, .hero-text-sec {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 16px;
}

button, .newsletter {
    background-color: #3882f6;
    color: white;
}

button {
    padding: 8px 24px;
    font-weight: bold;
    border-radius: 7px;
}

.signuptwo {
    border-color: white;
}

.bodyone {
    padding: 8px 80px;
}

.bodyoneheading {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    padding: 48px 180px;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.footer {
    text-align: center;
    justify-content: center;
    padding: 24px 0;
    color: white;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-bottom {
    display: flex;
    margin: 64px 0; 
    align-items: center;
    justify-content: center;
}

.bodyoneheading {
    text-align: center;
    margin-top: 16px;

}

.cards {
    display: flex;
    margin: 16px;
    gap: 52px;
    justify-content: center;
    margin: 32px 0 64px 0;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    gap: 16px;
    width: 200px;
}

.cardimage {
    border: 2px solid blue;
    border-radius: 10px;

}

.quote {
    display: flex;
    flex-direction: column;
}

.auther {
    align-self: flex-end;
}

.newsletter {
    display: flex;
    justify-content: space-between;
    margin: 16px 80px;
    padding: 32px 80px;
}

.newsltitle, .auther {
    font-weight: bold;
}

.newsltitle {
    font-size: 18px;
}

.placeholder {
    width: 600px;
    height: auto;
    margin-left: 32px;
    border-radius: 4px;
}

.headerb-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}


